@font-face {
    font-family: 'CircularLight';
    font-style: normal;
    font-display: auto;
    font-weight: 400;
    src: url('/assets/fonts/CircularAir-Light.woff') format('woff2'),
        url('/assets/fonts/CircularAir-Light.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/assets/fonts/CircularStd-Black_1.ttf') format('opentype'),
        url('/assets/fonts/CircularStd-Black_1.ttf') format('opentype');
}

@font-face {
    font-family: 'CircularBold';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/assets/fonts/CircularStd-Bold.ttf') format('opentype'),
        url('/assets/fonts/CircularStd-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'CircularBook';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/assets/fonts/CircularStd-Book (1).otf') format('opentype'),
        url('/assets/fonts/CircularStd-Book (1).otf') format('opentype');
}

@font-face {
    font-family: 'Roobert';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/assets/fonts/Roobert-SemiBold.woff2') format('woof2'),
        url('/assets/fonts/Roobert-SemiBold.woff') format('woff');
    letter-spacing: 0.1em;
}

@font-face {
    font-family: 'Founders';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/assets/fonts/FoundersGrotesk-Regular.otf') format('woof2'),
        url('/assets/fonts/FoundersGrotesk-Regular.otf') format('woff');
    letter-spacing: 0.1em;
}
