.header {
    padding: 1rem 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__brand {
        display: flex;
        align-items: center;
        color: inherit;

        @include hover-focus {
            color: inherit;
        }

        &__avatar {
            display: block;
            width: 5rem;
            height: 6rem;
            border-radius: 15px;
            margin-right: 0.7rem;
        }
        &__text {
            font-weight: 700;
            font-size: 4rem;
            font-family: var--font-family-display);
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    // Theme Button
    &__themebtn {
        display: none;
        order: -1;
        margin-right: 1rem;

        @supports (color: var(--fake-var)) {
            display: flex;
        }
        @include mq(md) {
            margin-right: 2rem;
        }
        @include mq(lg) {
            order: initial;
            margin-left: 1rem;
            margin-right: 0;
        }
    }

    @include mq(md) {
        padding: 2.125rem 0;
    }
}
